<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  
       
       <form id="myForm" action = "/api/v1/tasks/allTasks">


        <input type="text" id="field1" name="name">
        <input type="text" id="field2" name="completed">
       
        
        <button id="myButton">Click me</button>
        </form>
        </body>
        
        <script>
        const field1 = document.querySelector("#field1");
        const field2 = document.querySelector("#field2");
        const button = document.querySelector("#myButton");
        const forms = document.querySelector("#myForm");
        
</script>
</html>