<nav>
    <div id="navDiv">
    <div id="img_holder">
     <h1 id="title"> <a href="/api/v1/tasks/allTask" class="eachLink">BlogSpot</a></h1>
    </div>
    <div id="links_holder">
        <ul>
            <li><a href="/api/v1/tasks/allTask" class="eachLink">TaskManager</a></li>
             <li><a href="" class="eachLink">Login</a></li>
          
        </ul>
    </div>
    </div>
</nav>